.chatBox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 20px;
    overflow-y: auto;
  }
  
  .message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
  }
  
  .message p {
    position: relative;
    right: 0;
    text-align:  right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
    font-size: 0.9em;
  }
  
  .message p::before {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(123deg, #dcf8c6 0%,#dcf8c6 50%, transparent 50%, transparent );
  }
  
  .message p span {
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
    opacity: 0.5;
  }
  
  .my_message {
    justify-content: flex-end;
  }
  
  .frnd_message{
    justify-content: flex-start;
  }
  
  .frnd_message p {
    background: #fff;
    text-align: left;
  }
  
  .message.frnd_message p::before {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg, #fff 0%,#fff 50%, transparent 50%, transparent );
  }
  
  .chatbox_input {
    position: relative;
    width: 100%;
    height: 60px;
    background: #f0f0f0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  
  .chatbox_input .input_icon {
    cursor: pointer;
    font-size: 1.8em;
    color: #51585c;
  }
  
  .chatbox_input .input_icon:nth-child(1) {
    margin-right: 15px;
  }
  
  .chatbox_input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1em;
  }


  /* sub-menu*/
/* sub-menu*/
.sub-menu-wrap {
    color: red;
    position: absolute;
    /* top: 100%;
    right:calc(100% - 1450px); */
    width: 720px;
    max-height: 400px;
    overflow: hidden; 
    /* transition: max-height 0.5s;  */
    z-index: 2;
  }
  
  .sub-menu {
    position: absolute;
    background: #fff;
    padding: 20px;
    margin: 10px;
    /* z-index: 2; */
  }
  
  /* .sub-menu-wrap.open-menu {
    max-height: 400px;
  } */
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info h3 {
    font-weight: 300;
  }
  
  .sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 10px;
  }
  
  .sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
  }
  
  .sub-menu-link p {
    width: 100%;
  }
  
  .sub-menu-link:hover p{
    font-weight: 600;
  }
  
  .sub-menu-link span {
    transform: transform 0.3s;
  }
  
  
  .sub-menu-link:hover span {
    transform: translateX(5px);
  }
  /*  */
  /* sub-menu*/